/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
box-sizing: border-box;
}

/* Body content */
body{
    font-family: 'Poppins', sans-serif;
    background:  #0d0d0d;
    min-height: 100vh;
    margin: 0;
    color: white;
}

/* Logo header */
header{
    padding: 0px 0px 10px 5%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background:#0d0d0d;
    z-index: 2;
}

.logo{
    width: 30%;
    max-width: 300px;
    min-width: 200px;
}

.logo:hover{
    opacity: 0.8;
}

/* Menu style */
a {
    text-decoration: none;
}

a:link {
  color:#d4b1f8
}

a:hover {
  color: white;
}

li {
    display: inline;
    padding: 15px;
    text-decoration: none;
}

/* Spacing for anchor links*/
.anchor{
    position: relative;
    top: -4rem;
}

/* About section */
main{
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
    padding: 100px 5%;
}

.projects{
    padding: 0 5%;
}

main, body{
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Header styles */
h1, h2, h3{
    color: #d4b1f8;
}

h1{
    font-size: 60px;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2{
    font-size: 30px;
}

h3{
    font-weight: normal;
    font-size: 25px;
}

/* About spacing */
.about{
    flex: 60%;
    padding-right: 40px;
}

.profile{
    flex: 30%;
    margin-top: 20px;
    border-radius: 50%;
}

/* profile picture */
.avatar{
    border-radius: 5%;
    height: 20rem;
}

/* Portfolio images */
.gallery{
    display: flex;
    flex-wrap: wrap;
}

.projects{
    padding-bottom: 100px;
}

.projects img{
    width: 47%;
    padding: 0.3%;
}

/* Style contact form */
form{
    background-color: #d4b1f8;
    color: black;
    padding-top: 50px;
    padding-bottom: 25px;
    padding-left: 5%;
}

form > h2{
    color: black;
}

input, textarea, select{
    padding: 5px;
    display: block;
    margin-left: 5px;
    margin-bottom: 1em;
    border-radius: 5px;
    border-width: 1px;
    border-color: #0d0d0d;
    font-family: 'Poppins', sans-serif;
}

/* All button styles */
.button, .button-pink{
    border-radius: 0px;
    border-width: 1px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 15px 0px;
    cursor: pointer;
}

.button{ 
    background-color: #0d0d0d;
    border-color: #d4b1f8;
    color: white;
} 

.button-pink{ 
    background-color:#d4b1f8;
    border-color: black;
    color: black;
}

.button:hover {
    border-color: white;
    color: #d4b1f8;
    background-color:#231e29;
}

.button-pink:hover{ 
    background-color:#dec4f8;
    border-color: white;
    color: white;
}

/* Footer and icon styles */
footer{
    margin-bottom: 50px;
    padding-left: 5%;
}

.icon{
    height: 25px;
    margin-right: 20px;
}

.icon:hover {
  opacity: 0.8;
}