/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

/* CSS Variables */
:root {
    --header-color: #a2c0af;
    --bg-color: #f5f7f0;
    --text-color: #161616;;
}

body {
    font-family: "Lexend Exa", sans-serif;
    color: var(--text-color);
}

/* Bootstrap Overrides */
.text-primary{
    color: var(--text-color) !important;
}

.bg-primary {
    background-color: var(--header-color) !important;
}

.bg-info {
    background-color: var(--bg-color) !important;
}

.card {
    min-width: 20rem;
    border-width: 0px;
    transition: all 0.2s ease;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(215, 218, 219, 0.5);
}

.card:hover {
    transform: scale(1.05);
}

.btn-primary {
    background-color: #6d857f;
    color: white;
    font-size: 18px; 
    border-radius: 30px;
    border-width: 0px;
    padding: 10px 32px;
    margin: 20px;
}

.btn-primary:hover {
    background-color:#83a19a;
    color: #405550;
}

.logo{
    max-height: 200px;
    min-width: 200px;
}
.banner {
    max-height: 200px;
    text-align: center;
    overflow: hidden;
}

.banner img{
    position: relative;
    left: 100%;
    margin-left: -200%;
}

.navbar a:hover {
    background-color: #83a19a;
    color: #405550 !important;
}

/* Pseduo element for italian flag on homepage */
.flag::before{
    content:url(https://img.icons8.com/color/24/italy.png);
    margin: 10px;
}

/* Pseduo elements for add to cart */
.order {
    cursor: pointer;
}

.order::after {
    content: "+";
    padding: 5px 10px;
    background-color: #f0eded;
    border-radius: 20px;
    margin: 0 10px;
}

.order:hover {
    opacity: 0.4;
}

/* Deal image animation */
.deal-image {
    transition: all 0.2s ease;
    cursor: pointer;
}

.deal-image:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

/* Footer menu animations */
.icon:hover, .footer-menu a:hover{
  opacity: 0.6;
}