/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(179, 173, 230);
    padding: 20px;
    text-align: center;

}

footer {
    background-color: rgb(213, 171, 221);
    padding: 10px;
    text-align: center;
}

/* Issue: This text is currently hidden */
.hidden-text {
    display: block;
    text-align: center;
}

/* Items are currently stacked vertically */
.item {
    display: inline-block;
    /* Change this to allow them to be side by side */
    padding: 10px;
    background-color: rgb(188, 147, 235);
    margin: 5px;
    width: 100px;
    height: 20px;
    text-align: center;
}

.itemBoxes{
  justify-items: center;
}