/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

/* CSS Variables */
:root {
    --header-color: #a2c0af;
    --bg-color: #f5f7f0;
    --text-color: rgb(182, 23, 23);
}

/* Bootstrap Overrides */
.bg-primary {
    background-color: var(--header-color) !important;
}
.bg-info {
    background-color: var(--bg-color) !important;
}
.card {
    min-width: 20rem;
    border-width: 0px;
    transition: all 0.2s ease;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(215, 218, 219, 0.5);
}
.card:hover {
    opacity: 0.9;
    transform: scale(1.05);
}
.btn-primary {
    background-color: #6d857f;
    color: white;
    font-size: 18px; 
    border-radius: 30px;
    border-width: 0px;
    padding: 10px 32px;
    margin: 20px;
}
.btn-primary:hover {
    background-color:#83a19a;
    color: #405550;
}

body {
    font-family: "Lexend Exa", sans-serif;
    color: var(--text-color);
}

.logo{
    max-height: 200px;
    min-width: 200px;
}

.navbar a:hover {
    background-color: #83a19a;
    color: #405550;
}

/* Pseduo element for italian flag on homepage */
.flag::before{
    content:url(https://img.icons8.com/color/24/italy.png);
    margin: 10px;
}